In [1]:
a = 0
for i in range(1,51):
    if i%5 == 0:
        a+=1
print('Numbers divisible by 5 (1-50):',a)

Numbers divisible by 5 (1-50): 10

In [2]:
a = int(input('Enter a number: '))
num = a
sum = 0
while a>0:
    b = a%10
    sum = b + sum
    a = a//10

print(f'sum of {num}: {sum}')

sum of 78: 15

In [3]:
a = 123321
num = a
c = 0
while a > 0:
    b = a%10
    c = c*10+b
    a = a//10
if num == c:
    print(f'{num} is a palindrome')
else:
    print(f'{num} is not a palindrome')

123321 is a palindrome

In [21]:
a = 'Python and java'
b = a.split(' ')
c = 0
for i in b:
    c+=1
print(f'Total words in "{a}" : {c}')

Total words in "Python and java" : 3

In [30]:
a = 'PyThON'
b = 0
c = 0
for i in a:
    if i.islower():
        b+=1

    else:
        c+=1
print(b, ' lowercase letters in', a)
print(c, 'uppercase letters in',a)

2  lowercase letters in PyThON
4 uppercase letters in PyThON

In [50]:
a = 'Python with ML'
b = a.split(' ')
c = ' '
for i in b:
    c = c + ' ' + i[::-1]
print(c)

  nohtyP htiw LM

In [52]:
a = 543
num = a
product = 1
while a>0:
    b = a%10
    product = b*product
    a = a//10

print(f'Product of {num}: {product}')

Product of 543: 60

In [61]:
a = 'Python'
b = ''
for i in str(a):
    b = i+b
print(f'Reverse of {a}: {b}')

Reverse of Python: nohtyP

In [5]:
a = 12233
num = a
b = 0
while a>0:
    if a%10 == 3:
        b+=1
    a=a//10  
print(f'{b} times 3 appeared in {num}')

2 times 3 appeared in 12233

In [ ]:
a = 'United States of America'
b = 1
for i in a:
    if i == ' ':
        b = b+1
print(f'There are {b} words in {a}.')

There are 4 words in United States of America

In [20]:
a = 'p#@thon'
b = 0
for i in a:
    if i.isalnum() == False:
        b+=1
print(f'2 Special characters in {a}')

2 Special characters in p#@thon